In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split 
import keras 
import sklearn
from keras.models import Sequential 
from keras.layers import InputLayer 
from keras.layers import Dense 
from keras.layers import Dropout 
from keras.constraints import maxnorm

In [ ]:
df=pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [ ]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
#['tenure','MonthlyCharges','Total Charges']

In [ ]:
df.SeniorCitizen.replace([0, 1], ["No", "Yes"], inplace= True) 
df.TotalCharges.replace([" "], ["0"], inplace= True) 
df.TotalCharges = df.TotalCharges.astype(float)
cID = df.customerID 
df.Churn.replace(["Yes", "No"], [1, 0], inplace= True)
df.drop("customerID", axis= 1, inplace= True)

In [ ]:
df_int=df[['tenure','MonthlyCharges','TotalCharges']]

In [ ]:
# example of a normalization
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
# define min max scaler
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(df_int)
print(scaled)

[[0.01388889 0.11542289 0.00343704]
 [0.47222222 0.38507463 0.21756402]
 [0.02777778 0.35422886 0.01245279]
 ...
 [0.15277778 0.11293532 0.03989153]
 [0.05555556 0.55870647 0.03530306]
 [0.91666667 0.86965174 0.78810105]]

In [ ]:
df.drop("tenure", axis= 1, inplace= True) 
df.drop("MonthlyCharges", axis= 1, inplace= True) 
df.drop("TotalCharges", axis= 1, inplace= True)

In [ ]:
tenure=[i[0] for i in scaled]
monthly=[i[1] for i in scaled]
total=[i[2] for i in scaled]

In [ ]:
tenure = np.array(tenure)
monthly = np.array(monthly)
total = np.array(total)

In [ ]:
df['tenure'] = tenure.tolist()
df['MonthlyCharges'] = monthly.tolist()
df['TotalCharges'] = total.tolist()

In [ ]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,0,0.013889,0.115423,0.003437
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,0,0.472222,0.385075,0.217564
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,1,0.027778,0.354229,0.012453
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),0,0.625000,0.239303,0.211951
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,1,0.027778,0.521891,0.017462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,0,0.333333,0.662189,0.229194
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),0,1.000000,0.845274,0.847792
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,0,0.152778,0.112935,0.039892
7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,1,0.055556,0.558706,0.035303
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),0,0.916667,0.869652,0.788101

In [ ]:
data = pd.get_dummies(df)

In [ ]:
data

,Churn,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_No,SeniorCitizen_Yes,Partner_No,Partner_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0.013889,0.115423,0.003437,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,0.472222,0.385075,0.217564,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,1,0.027778,0.354229,0.012453,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0.625000,0.239303,0.211951,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,1,0.027778,0.521891,0.017462,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0.333333,0.662189,0.229194,0,1,1,0,0,1,...,1,0,1,0,0,1,0,0,0,1
7039,0,1.000000,0.845274,0.847792,1,0,1,0,0,1,...,1,0,1,0,0,1,0,1,0,0
7040,0,0.152778,0.112935,0.039892,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
7041,1,0.055556,0.558706,0.035303,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
7042,0,0.916667,0.869652,0.788101,0,1,1,0,1,0,...,1,0,0,1,0,1,1,0,0,0

In [ ]:
X = data.drop("Churn", axis= 1) 
y = data.Churn

In [ ]:
X

,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_No,SeniorCitizen_Yes,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.013889,0.115423,0.003437,1,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0.472222,0.385075,0.217564,0,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0.027778,0.354229,0.012453,0,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0.625000,0.239303,0.211951,0,1,1,0,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0.027778,0.521891,0.017462,1,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.333333,0.662189,0.229194,0,1,1,0,0,1,0,...,1,0,1,0,0,1,0,0,0,1
7039,1.000000,0.845274,0.847792,1,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1,0,0
7040,0.152778,0.112935,0.039892,1,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
7041,0.055556,0.558706,0.035303,0,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
7042,0.916667,0.869652,0.788101,0,1,1,0,1,0,1,...,1,0,0,1,0,1,1,0,0,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=45)

In [ ]:
model = Sequential()
model.add(Dense(16, activation='relu'))
model.add(Dropout(rate=0.1))
model.add(Dense(16, activation='relu'))
model.add(Dropout(rate=0.1))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(loss = "binary_crossentropy", optimizer = 'adam', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=35, batch_size=50)

Epoch 1/35
113/113 [==============================] - 1s 5ms/step - loss: 0.5532 - accuracy: 0.7025 - val_loss: 0.4541 - val_accuracy: 0.7566
Epoch 2/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4667 - accuracy: 0.7620 - val_loss: 0.4252 - val_accuracy: 0.8034
Epoch 3/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4508 - accuracy: 0.7787 - val_loss: 0.4177 - val_accuracy: 0.8077
Epoch 4/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4446 - accuracy: 0.7790 - val_loss: 0.4154 - val_accuracy: 0.8133
Epoch 5/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4389 - accuracy: 0.7865 - val_loss: 0.4149 - val_accuracy: 0.8077
Epoch 6/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4366 - accuracy: 0.7882 - val_loss: 0.4132 - val_accuracy: 0.8105
Epoch 7/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4363 - accuracy: 0.7872 - val_loss: 0.4120 - val_accuracy: 0.8176
Epoch 8/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4331 - accuracy: 0.7907 - val_loss: 0.4131 - val_accuracy: 0.8091
Epoch 9/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4288 - accuracy: 0.7913 - val_loss: 0.4109 - val_accuracy: 0.8148
Epoch 10/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4315 - accuracy: 0.7897 - val_loss: 0.4129 - val_accuracy: 0.8105
Epoch 11/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4285 - accuracy: 0.7961 - val_loss: 0.4113 - val_accuracy: 0.8119
Epoch 12/35
113/113 [==============================] - 0s 2ms/step - loss: 0.4250 - accuracy: 0.7952 - val_loss: 0.4100 - val_accuracy: 0.8148
Epoch 13/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4264 - accuracy: 0.7955 - val_loss: 0.4091 - val_accuracy: 0.8162
Epoch 14/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4269 - accuracy: 0.7998 - val_loss: 0.4093 - val_accuracy: 0.8126
Epoch 15/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4233 - accuracy: 0.7994 - val_loss: 0.4104 - val_accuracy: 0.8112
Epoch 16/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4253 - accuracy: 0.7994 - val_loss: 0.4103 - val_accuracy: 0.8126
Epoch 17/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4257 - accuracy: 0.7978 - val_loss: 0.4099 - val_accuracy: 0.8155
Epoch 18/35
113/113 [==============================] - 0s 2ms/step - loss: 0.4247 - accuracy: 0.7998 - val_loss: 0.4091 - val_accuracy: 0.8141
Epoch 19/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4208 - accuracy: 0.8000 - val_loss: 0.4085 - val_accuracy: 0.8141
Epoch 20/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4217 - accuracy: 0.7993 - val_loss: 0.4090 - val_accuracy: 0.8126
Epoch 21/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4197 - accuracy: 0.8016 - val_loss: 0.4094 - val_accuracy: 0.8148
Epoch 22/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4204 - accuracy: 0.8030 - val_loss: 0.4091 - val_accuracy: 0.8155
Epoch 23/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4168 - accuracy: 0.8040 - val_loss: 0.4091 - val_accuracy: 0.8169
Epoch 24/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4195 - accuracy: 0.8030 - val_loss: 0.4105 - val_accuracy: 0.8190
Epoch 25/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4183 - accuracy: 0.8009 - val_loss: 0.4085 - val_accuracy: 0.8176
Epoch 26/35
113/113 [==============================] - 0s 2ms/step - loss: 0.4166 - accuracy: 0.8023 - val_loss: 0.4096 - val_accuracy: 0.8155
Epoch 27/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4143 - accuracy: 0.8069 - val_loss: 0.4097 - val_accuracy: 0.8119
Epoch 28/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4183 - accuracy: 0.8039 - val_loss: 0.4095 - val_accuracy: 0.8148
Epoch 29/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4137 - accuracy: 0.8024 - val_loss: 0.4084 - val_accuracy: 0.8155
Epoch 30/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4126 - accuracy: 0.8051 - val_loss: 0.4086 - val_accuracy: 0.8190
Epoch 31/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4142 - accuracy: 0.8048 - val_loss: 0.4116 - val_accuracy: 0.8148
Epoch 32/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4132 - accuracy: 0.8033 - val_loss: 0.4108 - val_accuracy: 0.8119
Epoch 33/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4143 - accuracy: 0.8046 - val_loss: 0.4113 - val_accuracy: 0.8098
Epoch 34/35
113/113 [==============================] - 0s 2ms/step - loss: 0.4114 - accuracy: 0.8051 - val_loss: 0.4124 - val_accuracy: 0.8091
Epoch 35/35
113/113 [==============================] - 0s 3ms/step - loss: 0.4129 - accuracy: 0.8039 - val_loss: 0.4113 - val_accuracy: 0.8141

In [ ]:
res=model.predict(X)
res

NameError: ignored

In [ ]:
res1=[]
for i in res:
  if i>0.4657:
    res1.append(1)
  else:
    res1.append(0)

In [ ]:
arr=sklearn.metrics.confusion_matrix(y_test, res1)

In [ ]:
(arr[0][0]+arr[1][1])/(arr[0][0]+arr[1][1]+arr[0][1]+arr[1][0])

0.8147622427253371

In [ ]:
res = np.array(res)

In [ ]:
df['Res'] = res.tolist()

In [ ]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges,Res
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,Month-to-month,Yes,Electronic check,0,0.013889,0.115423,0.003437,[0.6121919751167297]
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,One year,No,Mailed check,0,0.472222,0.385075,0.217564,[0.027535349130630493]
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,Month-to-month,Yes,Mailed check,1,0.027778,0.354229,0.012453,[0.29859328269958496]
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,One year,No,Bank transfer (automatic),0,0.625000,0.239303,0.211951,[0.01737561821937561]
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,Month-to-month,Yes,Electronic check,1,0.027778,0.521891,0.017462,[0.7395180463790894]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,One year,Yes,Mailed check,0,0.333333,0.662189,0.229194,[0.13790738582611084]
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,One year,Yes,Credit card (automatic),0,1.000000,0.845274,0.847792,[0.14476582407951355]
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,Month-to-month,Yes,Electronic check,0,0.152778,0.112935,0.039892,[0.40709972381591797]
7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,Month-to-month,Yes,Mailed check,1,0.055556,0.558706,0.035303,[0.7982874512672424]
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),0,0.916667,0.869652,0.788101,[0.05857136845588684]

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Hackathon/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df['Res'] = res.tolist()

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Res
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,[0.5858261585235596]
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,[0.025282055139541626]
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,[0.3140590786933899]
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,[0.018094122409820557]
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,[0.6941576600074768]

In [ ]:
df.to_csv('file.csv')

In [ ]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges,Res
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,No,Month-to-month,Yes,Electronic check,0,0.013889,0.115423,0.003437,[0.6121919751167297]
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,...,No,No,One year,No,Mailed check,0,0.472222,0.385075,0.217564,[0.027535349130630493]
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,...,No,No,Month-to-month,Yes,Mailed check,1,0.027778,0.354229,0.012453,[0.29859328269958496]
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,One year,No,Bank transfer (automatic),0,0.625000,0.239303,0.211951,[0.01737561821937561]
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,...,No,No,Month-to-month,Yes,Electronic check,1,0.027778,0.521891,0.017462,[0.7395180463790894]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Yes,One year,Yes,Mailed check,0,0.333333,0.662189,0.229194,[0.13790738582611084]
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Yes,One year,Yes,Credit card (automatic),0,1.000000,0.845274,0.847792,[0.14476582407951355]
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,No,Month-to-month,Yes,Electronic check,0,0.152778,0.112935,0.039892,[0.40709972381591797]
7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,No,Month-to-month,Yes,Mailed check,1,0.055556,0.558706,0.035303,[0.7982874512672424]
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),0,0.916667,0.869652,0.788101,[0.05857136845588684]

In [ ]:
df['customerID']=cID

In [ ]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges,Res,customerID
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,...,No,Month-to-month,Yes,Electronic check,0,0.013889,0.115423,0.003437,[0.6121919751167297],7590-VHVEG
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,...,No,One year,No,Mailed check,0,0.472222,0.385075,0.217564,[0.027535349130630493],5575-GNVDE
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,...,No,Month-to-month,Yes,Mailed check,1,0.027778,0.354229,0.012453,[0.29859328269958496],3668-QPYBK
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,...,No,One year,No,Bank transfer (automatic),0,0.625000,0.239303,0.211951,[0.01737561821937561],7795-CFOCW
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,...,No,Month-to-month,Yes,Electronic check,1,0.027778,0.521891,0.017462,[0.7395180463790894],9237-HQITU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,...,Yes,One year,Yes,Mailed check,0,0.333333,0.662189,0.229194,[0.13790738582611084],6840-RESVB
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,One year,Yes,Credit card (automatic),0,1.000000,0.845274,0.847792,[0.14476582407951355],2234-XADUH
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,...,No,Month-to-month,Yes,Electronic check,0,0.152778,0.112935,0.039892,[0.40709972381591797],4801-JZAZL
7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,No,...,No,Month-to-month,Yes,Mailed check,1,0.055556,0.558706,0.035303,[0.7982874512672424],8361-LTMKD
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Two year,Yes,Bank transfer (automatic),0,0.916667,0.869652,0.788101,[0.05857136845588684],3186-AJIEK